---
import FullHeightCard from "./FullHeightCard.astro";
---

<FullHeightCard
    title="😊 About me"
    heroId="about-me"
    ctaId="tech-stack"
    ctaText="Let's check my stack"
>
    <div>
        I've been working in frontend development since 2018, and in 2020, I
        decided to delve into mobile development as well. I've been using
        Flutter since version 1.2.x and Angular since version 6 (naturally, I've
        kept up with updates since then).
    </div>
    <div>
        Additionally, I have a passion for nutrition, and I've developed ZYME, a
        calorie tracking app available on android and iOS.
    </div>
    <div class="p-8">
        ...and as you can see, I'm more of a developer than a designer.
    </div>
</FullHeightCard>
