---
import FullHeightCard from "./FullHeightCard.astro";
---

<FullHeightCard
    title="Hello there!"
    heroId="hello"
    ctaId="about-me"
    ctaText="Learn more"
>
    <h2 class="text-3xl font-bold">I am Andrea Gullì</h2>
    <h3 class="text-1xl">Senior Flutter developer</h3>
    <p class="py-6">
        I'm a codemonkey who believed in it enough! I work in mobile and web
        development with Flutter and Angular.
    </p>
</FullHeightCard>
