---
import PortfolioText from "./PortfolioText.astro";
interface Props {
    it: string;
    en: string;
    right: boolean;
}

const { it, en, right } = Astro.props;
---

<div data-aos="fade-up" class="sentences">
    {right && <div class="spacer" />}
    <PortfolioText it={it} en={en} />
    {!right && <div class="spacer" />}
</div>
<style>
    .sentences {
        font-size: 3.5em;
        display: flex;
        flex-direction: row;
        margin-bottom: 60vh;
    }

    .spacer {
        width: 100%;
    }

    @media (resolution >= 2dppx) {
        .sentences {
            font-size: 1em;
            margin-bottom: 30vh;
        }
    }
</style>
