---

---

<div id="about-me" class="min-h-screen">
    <div class="max-w-2xl m-auto p-8">
        <h1 class="text-4xl font-bold">😊 About me</h1>
        <div>
            I've been working in frontend development since 2018, and in 2020, I
            decided to delve into mobile development as well. I've been using
            Flutter since version 1.2.x and Angular since version 6 (naturally,
            I've kept up with updates since then).
        </div>
        <div>
            Additionally, I have a passion for nutrition, and I've developed
            ZYME, a calorie tracking app available on android and iOS.
        </div>
    </div>
</div>

<style>
    #about-me {
        color: #1d232a;
        background-color: #fefefe;
    }
</style>
