---
import FullHeightCard from "./FullHeightCard.astro";
import TechCard from "./TechCard.astro";
---

<FullHeightCard
    title="ðŸ› ï¸ Tech stack"
    heroId="tech-stack"
    ctaId="experiences"
    ctaText="My experiences"
>
    <div>
        If you want to see some buzzwords related to technologies, go above!
    </div>
    <div class="py-8">
        <TechCard
            tooltipData="Impeller, FFI, Packages, Canvas, Build runner, Routing, Widgets, Context"
            imgUri="https://cdn.simpleicons.org/flutter/02569B"
            content="Flutter"
        />
        <TechCard
            imgUri="bloc.png"
            content="Bloc"
            tooltipData="Events, State management, Reactive programming, When"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/dart/0175C2"
            content="Dart"
            tooltipData="Generics, Async, DI, Macros, Zones"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/angular/B5314C"
            content="Angular"
            tooltipData="Signals, DI, Services, Standalone, Components, Lazy loading, Webpack"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/typescript/3178C6"
            content="Typescript"
            tooltipData="Babel, AOT, JIT, Polyfills, Wasm, Closures, Hoisting, Scope, Prototype, DOM, Strict mode, Modules, Memory leaks, This"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/reactivex/B7178C"
            content="Rxjs"
            tooltipData="Observable, Subject, Subscription, Scheduler, Operators, MergeMap"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/tailwindcss/06B6D4"
            content="Tailwindcss"
            tooltipData="CSS, Minify, Classes"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/firebase/FFCA28"
            content="Firebase"
            tooltipData="BaaS, Analytics, NoSQL, Scalable, Cloud functions, Firestore"
        />
        <TechCard
            imgUri="https://cdn.simpleicons.org/git/F05032"
            content="Git"
            tooltipData="Rebase, Branch, Commit, Merge"
        />
        <TechCard
            content="And more"
            tooltipData="Jira, Agile, SCRUM, Hakuna Matata, Bulbasaur, And more..."
        />
    </div>
</FullHeightCard>
